<div id="search-field">
    <% @search ||= Search.new %>
    <%= form_for @search, html: { id: 'autocomplete-cards'} do |f| %>
    <div class='text-fields row'>
      <div class='col-xs-12'>
        <h1>Search</h1>
        <% if params[:action] == 'edit'%>
        <h6>With a card previewed, hit enter to add a copy to your deck!</h6>
        <% end %>
        <%= f.autocomplete_field :name_field, autocomplete_card_name_searches_path, {
          'data-auto-focus' => true,
          update_elements: {},
          placeholder: "Card Name" }
        %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 submit-button">
        <%= f.submit "Search!", id: 'search-submit' %>
      </div>
    </div>
  <% end %>
</div>