<%= will_paginate inner_window: 1, outer_window: 1, previous_label: '←', next_label: '→'  %>

<div class="container">
<% @cards.in_groups_of( 2, false) do |card_row| %>
  <div class="row">
  <% card_row.each do |card| %>
    <div class="col-sm-6">
      <%= render card %>
    </div>
  <% end %>
  </div>
<% end %>
</div>

<%= will_paginate inner_window: 1, outer_window: 1, previous_label: '←', next_label: '→'  %>