// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster|Bree+Serif&subset=latin,latin-ext);
html, body {
  height: 100%;
}
body {
  a.navbar-brand {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 2em;
    color: #333333;
    padding: -1em;
  }
  a, a:hover {
    color: #333333;
  }
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  // background-image: image-url("spatter.png");;
  // background-repeat: no-repeat;
  // background-position: right bottom; 
}