<%
cards = @deck.cards.sort_by {|card| card.name}
types = {
  "Creature" => [],
  "Instant" => [], 
  "Sorcery" => [], 
  "Artifact" => [], 
  "Enchantment" => [], 
  "Planeswalker" => [],
  "Other" => []
}

cards.each do |card|
  sorted = false
  types.each do |type, list|
    if card.card_type[type] && type != "Other"
      types[type] << card
      sorted = true
      break
    end
  end
  types["Other"] << card unless sorted
end

types.select! {|k,v| !v.empty? }
types_array = []
types.each {|k,v| types_array << {k => v} }
%>


<% types_array.in_groups_of( 2, false ) do |card_row| %>
  <div class="row">
    <% card_row.each do |hash| %>
      <% hash.each do |type,list| %>
        <div class="col-sm-6">
          <h4 class="type-heading"><%= type.pluralize + ":" %></h4>
          <ul>
            <% list.each do |card| %>
              <li class="card-list-item" data-id="<%= card.id %>">
                <%= link_to card.name, card %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>  
  </div>
<% end %>
