<div class="row">
  <div class="col-md-12">
    <h1>Mainboard</h1>
    <h5><%= pluralize @deck.cards_count("mainboard"), "card" %>.</h5>
  </div>
</div>
<% types_array = piles_by_type_array %>
<% types_array.in_groups_of( 2, false ) do |type_row| %>
  <div class="row">
    <% type_row.each do |hash| %>
      <% hash.each do |type, list| %>
        <div class="col-sm-6">
          <h4 class="type-heading"><%= type.pluralize + ":" %></h4>
            <%= render partial: 'decks/pile_list.html.erb', locals: {list: list, location: 'mainboard' } %>
        </div>
      <% end %>
    <% end %>  
  </div>
<% end %>
