<% types_array = counted_cards_by_type_array %>


<% types_array.in_groups_of( 2, false ) do |card_row| %>
  <div class="row">
    <% card_row.each do |hash| %>
      <% hash.each do |type,list| %>
        <div class="col-sm-6">
          <h4 class="type-heading"><%= type.pluralize + ":" %></h4>
          <table>
          <% list.each do |card, count| %>
            <tr>
              <td class="card-count">
                <%= "#{count}x"%>
              </td>
              <td class="card-list-item" data-id="<%= card.id %>">
                <%= link_to card.name, '#' %>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
      <% end %>
    <% end %>  
  </div>
<% end %>
