<table class="card-list">
<% list.each do |pile| %>
  <tr>
    <td class="card-list-buttons">
      <%= render partial: 'cards/adjust_button.html.erb', locals: {
        text: 'x', 
        setting: {full_set: false, action: :remove_all, location: location}, 
        card: Card.find(pile.card_id) } %>
    </td>
    <td class="card-count">
      <%= "#{pile.count}x"%>
    </td>
    <td class="card-list-item" data-id="<%= pile.card_id %>">
      <%= link_to pile.name, 'javascript:void(0)' %>
    </td>
  </tr>
<% end %>
</table>