<% list = @deck.sideboard %>
<% unless list.empty? %>
<div class="row">
  <div class="col-md-12" >
    <h1>Sideboard</h1>
    <h5><%= pluralize @deck.cards_count("sideboard"), "card" %>.</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'decks/pile_list.html.erb', locals: {list: list, location: 'sideboard'} %>
  </div>
</div>
<% end %>