<% sideboard = @deck.sideboard.cards %>
<% unless sideboard.empty? %>
<% list = cards_by_count sideboard%>
<div class="row">
  <div class="col-md-12" ><h1>Sideboard</h1></div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'cards/card_list.html.erb', locals: {list: list, location: 'sideboard'} %>
  </div>
</div>
<% end %>