<div class="row">
  <div class="col-md-12">
    <h1><%= @deck.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h1>Deck List</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <%= render 'decks/deck_list' %>
      <%= render 'decks/sideboard' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'cards/preview' %>
  </div>
</div>